@font-face {
  font-family: "Polya";
  src: url(../fonts/POLYA.otf);
}

@font-face{
  font-family: "ONEDAY";
  src: url(../fonts/ONEDAY.ttf);
}

@font-face{
  font-family: "Etna";
  src: url(../fonts/Etna.otf);
}


body{
  background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(36, 0, 0), rgb(107, 1, 121), rgb(165, 0, 0));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

h1{
  font-size: 850% !important;
  font-family: "Polya";
  color: white;
}
h2{
  transition: 0.5s;
  font-size: 100px !important;
  font-family: "Etna";
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.507);
}
h2:hover{
  transition: 0.5s;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.678);
}
a{
  transition: 0.5s;
  font-size: 30px;
  font-family: "ONEDAY" !important;
  display: inline-block;
  margin-left: 3%; 
  margin-bottom: 3%; 
  text-decoration: none !important;
  color: white;
}

a:hover{
  transition: 0.5s;
  font-weight: bolder;
  color:rgb(196, 0, 153);
}


.textHead{
    text-align : center;
}

.bannerHead{
  display:inline;
  color: white;
  letter-spacing: 15px;
}

.edito{


  background: rgba(255, 255, 255, 0.185);
}
.editoText{
  margin-left: 5%;
  margin-right: 5%;
  color: white;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

