@font-face {
    font-family: "police1";
    src: url("../font/System San Francisco Text Regular.ttf");
}

header{
  margin-top: 5%;
  background-color: white;
  border-bottom: thin #000000;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.headerDev{
  margin-left: 5%;
}

navbar{
  color: black;
  font-family: 'Roboto', sans-serif;
  color: white !important;
  box-shadow: 10px 10px 5px grey;
}
