@font-face {
    font-family: "police1";
    src: url("../font/System San Francisco Text Regular.ttf");
}

header{
  background-color: white;
  border-bottom: thin dotted #000000;
  font-family: 'Roboto', sans-serif;
}
